.menu {
  width: 100%;
  flex-direction: column;
  @include flex-center;

  .papers {
    width: 15rem;
    height: 80%;
    background-color: $dark-green !important;
    @include flex-center;

    &:hover {
      background-color: $normal-green !important;
    }
  }
}
