.footer {
    width: 100%;
    height: 600px;
    background-color: rgb(1, 74, 1);
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-left {
    width: 35%;
    height: 100%;
}

.footer-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 180px;
    height: 180px;
}

.footer-center {
    width: 35%;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-center a {
    display: block;
    width: 150px;
    height: 30px;
    position: relative;
    overflow: hidden;
    color: white;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 600;
}

.footer-center a::before {
    content: "";
    display: block;
    width: 0;
    height: 100%;
    background-color: whitesmoke;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.4s ease-in;
    transform: translateY(28px);
}

.footer-center a:hover::before {
    width: 70%;
}

.footer-right {
    width: 30%;
    height: 100%;
}

.footer-img {
    width: 120px;
    height: 120px;
}

.footer-about {
    margin-left: 30px;
    width: 50%;
    font-weight: 600;
    color: rgb(194, 194, 194);
    font-size: 1.25rem;
    line-height: 2rem;
}

.footer-social-medias {
    margin-left: 30px;
    margin-top: 50px;
    display: flex;
    color: white;
    font-size: 4rem;
    width: 45%;
    align-items: center;
    justify-content: space-between;
}

.footer-images {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 200px;
    border-bottom: 2px white solid;
}

.footer-sections {
    margin-top: 40px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer-section-container {
    width: 100%;
    height: 27.5%;
    display: flex;
}

.map {
    position: absolute;
    right: 80px;
    bottom: -1700px;
    width: 600px;
    height: 450px;
    z-index: 10;
    border: 15px rgb(3, 184, 3) solid;
    border-radius: 18px;
}