.menu {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.papers {
    width: 15rem;
    height: 80%;
    background-color: rgb(1, 74, 1) !important;
    display: flex;
    align-items: center;
    justify-content: center;
}

.papers:hover {
    background-color: rgb(1, 120, 1) !important;
}